:root{
  --colorDark: #000000;
  --colorMid: #000000;
  --colorLight: #000000;
}

a:link {color:var(--colorLight)}

a:visited {color: var(--colorLight)}

.albumCover {
  width:100%;
  padding: 0%;
  border-radius: 3%;
}

article {
  padding: 10px;
  padding-top:0px;
  margin: 10px;
}

body {
  margin:0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  transition: 0.3s;
  background-color: var(--colorDark);
  color: var(--colorLight);
}

figure {
  width: 30%;
  display: inline-block;
  margin: 0px;
  padding: 1%;
  border: none;
}

figcaption {
  caption-side: bottom;
  font-size: 0.7em;
  padding: 0%;
  padding-top: 2%;
  background-color: var(--colorDark);
  color: var(--colorLight);
  white-space: nowrap;
  overflow: hidden;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.mainContent {
  display: inline;
  margin: 0px;
  max-width: 80%;
  float: left;
  padding: 0px;
}

.sideContent {
  display: inline;
  margin: 0px;
  max-width: 20%;
  float: left;
  padding: 0px;
  font-size: 0.8em;
}

.tab {
  margin:0px;
  font-size:0px;
  transition: 0.3s;
  background-color: var(--colorMid);
}

.tab button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--colorMid);
  border: none;
  outline: none;
  padding:14px;
  cursor: pointer;
  font-size:2vw;
  transition: 0.3s;
}

.tab button.tablinks {
  color: var(--colorLight);
  background-color: transparent;
}

.tab button.active {
  background-color: var(--colorDark);
}

.tab button:hover {
  background-color: var(--colorDark);
}

.tabcontent {
  display: none;
}

div.third {
  width: 32%;
  height: 352px;
  display: inline-block;
}

iframe.youtube {
  width: 100%;
  height: 45%;
  margin: 2%;
  border-radius: 12px;
}